[submodule "phile"]
	path = phile
	url = https://github.com/PhileCMS/Phile
[submodule "content"]
	path = content
	url = https://github.com/pschmitt/schmitt.co-content.git
[submodule "themes/pico-pure"]
	path = themes/pico-pure
	url = https://github.com/pschmitt/pico-pure.git
[submodule "plugins/phileRSSFeed"]
	path = plugins/phileRSSFeed
	url = https://github.com/PhileCMS/phileRSSFeed.git
[submodule "plugins/phileContentVariables"]
	path = plugins/phileContentVariables
	url = https://github.com/PhileCMS/phileContentVariables
[submodule "plugins/phileAnalytics"]
	path = plugins/phileAnalytics
	url = https://github.com/pschmitt/phileAnalytics.git
[submodule "plugins/phileTableOfContent"]
	path = plugins/phileTableOfContents
	url = https://github.com/pschmitt/phileTableOfContent.git
[submodule "plugins/phileUsers"]
	path = plugins/phileUsers
	url = https://github.com/pschmitt/phileUsers.git
[submodule "plugins/phileTags"]
	path = plugins/phileTags
	url = https://github.com/pschmitt/phileTags
