[submodule "themes/default"]
	path = themes/default
	url = https://github.com/pschmitt/schmitt.co-theme.git 
[submodule "plugins/pico_rss"]
	path = plugins/pico_rss
	url = https://github.com/gilbitron/Pico-RSS-Plugin.git
[submodule "plugins/pico_tags"]
	path = plugins/pico_tags
	url = https://github.com/szymonkaliski/Pico-Tags-Plugin.git
[submodule "plugins/adv-meta"]
	path = plugins/adv-meta
	url = https://github.com/shawnsandy/adv-meta.git
[submodule "plugins/pico_analytics"]
	path = plugins/pico_analytics
	url = https://github.com/Janaros/Pico-Analytics.git
[submodule "themes/pico-pure"]
	path = themes/pico-pure
	url = https://github.com/pschmitt/pico-pure.git
[submodule "content"]
	path = content
	url = https://github.com/pschmitt/schmitt.co-content.git
